{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Application</title>

  <!--Css Bootstrap-->
  <link rel="stylesheet" href="{% static 'Chat/css/bootstrap.css' %}">

  <!--Custom Css-->
  <link rel="stylesheet" href="{% static 'Chat/css/style.css' %}">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</head>
<body>
  <!--Notification-->
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="notificationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto" id="notification_receive">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="notification">
            Hello, world! This is a notification toast message.
        </div>
    </div>
</div>

  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <div class="card">
          <div class="card-header font-weight-bold display-4">
            {{request.user}}
          </div>
          <div class="card-body user-list">
            <form class="mb-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Search</button>
                </div>
              </div>
            </form>
            <div class="list-group">
              {% for item in context_list %}
              
              <a href="{% url 'message' item.user.pk %}" class="list-group-item list-group-item-action">
                {{item.user}}
                {% if item.count > 0 %}
                <span class="float-right" id="test{{user.pk}}" style="float: right;">
                  <div class="circle-icon">{{item.count}}</div>
                </span>
                {% endif %}
                
            
              </a>
              
              {% endfor %}

              
              <!-- Add more users as needed -->
            </div>
          </div>
          <div class="card-footer">
            <a href="{% url 'home' %}" class="btn btn-primary btn-block">Home</a>
            <a href="{% url 'logout' %}" class="btn btn-danger btn-block">Logout</a>
        </div>
        </div>
      </div>
    
      
    </div>
  </div>
  

<script>
  // Let us open a web socket
  var ws= new WebSocket('ws://'+ window.location.host+'/chat/');
  console.log(ws)
  // Web Socket is connected
  ws.onopen = function() {
    console.log("WebSocket connection established.");
    };

  // Handle WebSocket errors
  ws.onerror = function(error) {
    console.error("WebSocket error:", error);
    };        
         
  // Handle WebSocket close
  ws.onclose = function(event) {
    console.log("WebSocket connection closed:", event);
  };
   
  //Handle WebSocket Receive
  ws.onmessage = function (evt) { 
    var received_msg = evt.data;
    
    console.log(received_msg)

    // Parse the JSON string into a JavaScript object
    var jsonData = JSON.parse(received_msg);

    

   // Initialize the toast
var notificationToastEl = document.getElementById('notificationToast');
var notificationToast = new bootstrap.Toast(notificationToastEl);

// Set the content for the notification
document.getElementById('notification').innerHTML = jsonData.text;
document.getElementById('notification_receive').innerHTML = jsonData.receive_name;

// Show the toast
notificationToast.show();

// Reload the page after 2 seconds
setTimeout(function() {
    location.reload();
}, 2000); // 2000 milliseconds = 2 seconds
  };

 </script> 
</body>
</html>