{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Application</title>

  <!--Css Bootstrap-->
  <link rel="stylesheet" href="{% static 'Chat/css/bootstrap.css' %}">

  <!--Custom Css-->
  <link rel="stylesheet" href="{% static 'Chat/css/style.css' %}">


 <!--Bootstrap Min.Js-->
 <script src="{% static 'Chat/js/bootstrap.min.js' %}"></script>
 

</head>
<body>
  <!--Notification-->
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="notificationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto" id="notification_receive">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="notification">
            Hello, world! This is a notification toast message.
        </div>
    </div>
</div>

  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <div class="card">
          <div class="card-header font-weight-bold display-4">
            {{request.user}}
          </div>
          <div class="card-body user-list">
            <form class="mb-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Search</button>
                </div>
              </div>
            </form>
            <div class="list-group">
              {% for item in context_list %}
              
              <a href="{% url 'message' item.user.pk %}" class="list-group-item list-group-item-action">
                {{item.user}}
                {% if item.count > 0 %}
                <span class="float-right" id="test{{user.pk}}" style="float: right;">
                  <div class="circle-icon">{{item.count}}</div>
                </span>
                {% endif %}
                
            
              </a>
              
              {% endfor %}

              
              <!-- Add more users as needed -->
            </div>
          </div>
          <div class="card-footer">
            <a href="{% url 'home' %}" class="btn btn-primary btn-block">Home</a>
            <a href="{% url 'logout' %}" class="btn btn-danger btn-block">Logout</a>
        </div>
        </div>
      </div>
    
      
    </div>
  </div>
<!--Home.js-->
  <script src="{% static 'Chat/js/home.js' %}"></script>
</body>
</html>